#############
## Eclipse ##
#############

bin/
tmp/
.metadata/
.settings/
build/
eclipse/
.classpath
.project

##############
## MC Forge ##
##############

gradle/
build.gradle
.gradle/
gradlew
gradlew.bat
*.db

##############
#### IDEA ####
##############

SAO.iml
SAO.ipr
SAO.iws
out/