#############
## Eclipse ##
#############

bin/
tmp/
.metadata/
.settings/
build/
eclipse/
.classpath
.project

##############
## MC Forge ##
##############

gradle/
build.gradle
.gradle/
gradlew
gradlew.bat
*.db
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt
forge-*-changelog.txt
*changelog.txt

##############
#### IDEA ####
##############

*.iml
*.ipr
*.iws
out/
